.topBannerWrap {
  margin-top: 130px;

  :global(.container) {
    .topBannerNavWrap {
      display: flex;
      justify-content: space-around;

      .topBannerNav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        .topBannerNavImg {
          width: 45px;
          aspect-ratio: 1 / 1;
        }

        .topBannerNavTitle {
          font-size: 0.8125rem;
        }
      }
    }
  }
}
