.dailyNewWrap {
  margin-top: 30px;

  :global(.container) {
    .dailyNewTitleWrap {
      position: sticky;
      top: 118px;
      background-color: var(--color-white);
      text-align: center;
      color: var(--color-primary);
      font-size: 1rem;
      font-weight: 800;
      padding: 18px 0;
      border-bottom: var(--color-primary) 4px solid;
      margin-bottom: 5px;
      z-index: 4;
    }

    .dailyNewContentWrap {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      .cardLink {
        display: block;
        text-decoration: none;
        color: inherit;
        .dailyNewItem {
          position: relative;
          display: flex;
          flex-direction: column;
          margin: 5px;
          border: 1px solid rgba(0, 0, 0, 0.09);
          background-color: var(--color-white);
          border-radius: 6px;
          cursor: pointer;

          &:hover {
            border-color: rgba(238, 77, 45);
          }

          .discount {
            position: absolute;
            display: inline-block;
            top: 0;
            right: 0;
            color: rgba(238, 77, 45);
            background-color: rgba(254, 238, 234);
            font-size: 0.75rem;
            padding: 0 4px;
            border-bottom-left-radius: 6px;
            border-top-right-radius: 5px;
            z-index: 3;
          }

          .dailyNewItemImgWrap {
            position: relative;

            .dailyNewItemImg {
              width: 100%;
              border-radius: 6px 6px 0 0;
            }

            .bottomLeftImgWrap {
              position: absolute;
              inset: 0;
              z-index: 1;

              .bottomLeftImg {
                width: 100%;
                aspect-ratio: 1 / 1;
                object-fit: contain;
              }
            }
          }

          .dailyNewItemInfo {
            display: flex;
            flex-direction: column;
            padding: 6px 6px 8px;
            gap: 10px;

            .dailyNewItemName {
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              display: -webkit-box;
              font-size: 0.875rem;
              line-height: 1.25rem;

              .infoTag {
                display: inline-block;
                height: 0.875rem;
                margin-right: 2px;
                vertical-align: -2px;
              }
            }

            .dailyNewItemTags {
              display: flex;
              gap: 5px;
              min-height: 16px;

              .dailyNewItemTag {
                display: flex;
                align-items: center;

                &.green,
                &.pink,
                &.orange,
                &.red {
                  .dailyNewItemTagName {
                    display: flex;
                    align-items: center;
                    font-size: 0.625rem;
                    padding: 3px 2px 2px;
                    border-radius: 2px;
                    line-height: 1.1;
                  }
                }

                &.green {
                  .dailyNewItemTagName {
                    color: rgb(38, 170, 153);
                    box-shadow: rgb(38, 170, 153) 0px 0px 0px 0.5px;
                  }
                }

                &.pink {
                  .dailyNewItemTagName {
                    color: var(--color-white);
                    background-color: rgba(238, 77, 45, 0.361);
                    border-radius: 0 2px 2px 0;
                  }
                }

                &.orange {
                  .dailyNewItemTagName {
                    color: var(--color-white);
                    background-color: rgba(246, 145, 19);
                    border-radius: 0;
                  }

                  svg {
                    height: 16px;
                  }

                  svg:last-child {
                    transform: rotateY(180deg);
                  }
                }

                &.red {
                  .dailyNewItemTagName {
                    color: rgb(208, 1, 27);
                    box-shadow: rgb(208, 1, 27) 0px 0px 0px 0.5px;
                  }
                }

                .flash {
                  padding: 1px;
                  border-radius: 2px 0 0 2px;
                  background-color: rgb(208, 1, 27);
                }
              }

              .emptyBlock {
                height: 16px;
              }
            }

            .priceProgress {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .price {
                font-size: 1rem;
                color: rgba(238, 77, 45);

                .dollar {
                  font-size: 0.75rem;
                }
              }

              .progress {
                font-size: 0.75rem;
                color: rgba(0, 0, 0, 0.87);
              }
            }
          }

          .findSimilar {
            width: 100%;
            text-align: center;
            position: absolute;
            color: var(--color-white);
            background-color: rgba(238, 77, 45);
            bottom: -28px;
            left: -1px;
            padding: 5px 1px;
            font-size: 0.875rem;
            z-index: 4;
          }
        }
      }
    }

    .dailyNewMoreWrap {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 15px;

      .dailyNewMore {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #555;
        background: #fff;
        border: 1px solid #00000017;
        box-shadow: 0 1px 1px #00000008;
        grid-column-start: 3;
        grid-column-end: 5;
        height: 40px;
        margin-top: 20px;

        &:hover {
          background: #00000005;
        }
      }
    }
  }
}
