.officialStoreWrap {
  margin-top: 20px;
  :global(.container) {
    background-color: var(--color-white);

    .officialStoreTitleWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      margin-bottom: 12px;

      .officialStoreTitleWrapLeft {
        display: flex;
        gap: 35px;
        font-size: 1.0625rem;

        .officialStoreLink {
          color: #d0011b;
          text-decoration: none;
        }

        .officialStoreBenefits {
          display: flex;
          gap: 15px;
          position: relative;
          font-size: 1rem;

          .benefit {
            display: flex;
            align-items: center;
            gap: 5px;

            img {
              height: 1.0625rem;
              width: 1.0625rem;
            }
          }

          &:before {
            content: "";
            width: 1px;
            height: 1.0625rem;
            background-color: #d8d8d8;
            position: absolute;
            left: -5%;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      .officialStoreTitleWrapRight {
        display: flex;
        align-items: center;
        gap: 5px;
        white-space: nowrap;
        font-size: 0.875rem;
        color: #d0011b;
        cursor: pointer;

        .svgWrap {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #d0011b;
          border-radius: 50%;
          width: 1.125rem;
          height: 1.125rem;

          svg {
            width: 8px;
            height: 8px;
          }
        }
      }
    }

    .officialStoreCarouselWrap {
      display: flex;
      width: 100%;
      gap: 5px;

      .officialStoreCarouselWrapLeft {
        position: relative;
        flex: 1;
        min-width: 0;

        .customSwiperButtonPrev,
        .customSwiperButtonNext {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 2;
          background-color: rgba(0, 0, 0, 0.18);
          height: 60px;
          width: 35px;
          opacity: 0;
          transition: opacity 0.3s ease;
          cursor: pointer;

          svg {
            width: 20px;
            height: 20px;
          }
        }

        .visible {
          opacity: 1;
        }

        .customSwiperButtonPrev {
          left: 10px;
          border-bottom-right-radius: 2px;
          border-top-right-radius: 2px;
        }

        .customSwiperButtonNext {
          right: -10px;
          border-bottom-left-radius: 2px;
          border-top-left-radius: 2px;
        }

        .carouselSwiper {
          width: 100%;
          height: 100%;
          padding: 0 0 0 10px;

          .carouselImg {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 2px;
          }
        }
      }

      .officialStoreCarouselWrapRight {
        position: relative;
        flex: 2;
        min-width: 0;

        .customSwiperButtonPrev,
        .customSwiperButtonNext {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 2;
          background-color: var(--color-white);
          height: 25px;
          width: 25px;
          opacity: 0;
          transition: transform 0.1s ease;
          border-radius: 9999px;
          box-shadow: 0 1px 12px #0000001f;
          cursor: pointer;

          svg {
            width: 0.625rem;
            height: 0.625rem;
          }
        }

        .visible {
          opacity: 1;
        }

        .scale {
          transform: translateY(-50%) scale(2);
        }

        .customSwiperButtonPrev {
          left: -10px;
        }

        .customSwiperButtonNext {
          right: -13px;
        }

        .carouselSwiper {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          height: 100%;

          .categoryItemWrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            height: 472px;

            .categoryItem {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 100%;
              padding: 12px 0;
              position: relative;

              .categoryItemImg {
                width: 90%;
                aspect-ratio: 5 / 6;
                object-fit: contain;
              }

              .categoryItemName {
                position: absolute;
                bottom: 22px;
                left: 50%;
                transform: translateX(-50%);
                width: 95%;
                text-align: center;
                font-size: 18px;
                color: #d0011b;
              }
            }

            .specialItem {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              .specialInner {
                display: flex;
                align-items: center;
                gap: 5px;
                white-space: nowrap;
                font-size: 1rem;
                color: #d0011b;
                cursor: pointer;

                .svgWrap {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #d0011b;
                  border-radius: 50%;
                  width: 1.125rem;
                  height: 1.125rem;

                  svg {
                    width: 8px;
                    height: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
