.cartWrap {
  margin-top: 120px;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #f5f5f5;
  :global(.container) {
    .emptyCartWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding-top: 72px;

      img {
        width: 6.25rem;
        height: 6.125rem;
      }

      .cartEmptyText {
        color: #0006;
        font-size: 0.875rem;
        font-weight: 700;
      }

      button {
        padding: 0.625rem 2.625rem;
        border-radius: 2px;
        background-color: var(--color-primary);
        border: none;
        color: var(--color-white);
        font-size: 1rem;
        box-shadow: 0 1px 1px #00000017;
        cursor: pointer;
        font-weight: 300;
      }
    }
    .tableHeadWrap {
      display: flex;
      align-items: center;
      padding: 16px 20px;
      margin-bottom: 12px;
      background-color: var(--color-white);
      border-radius: 3px;

      div:nth-child(1) {
        text-align: center;
        width: 8%;
      }

      div:nth-child(2) {
        width: 43%;
        text-align: start;
        color: #000c;
      }

      div:nth-child(3) {
        width: 14%;
        text-align: center;
        font-size: 0.875rem;
        color: #888;
      }

      div:nth-child(4) {
        width: 14%;
        text-align: center;
        font-size: 0.875rem;
        color: #888;
      }

      div:nth-child(5) {
        width: 10%;
        text-align: center;
        font-size: 0.875rem;
        color: #888;
      }

      div:nth-child(6) {
        width: 11%;
        text-align: center;
        font-size: 0.875rem;
        color: #888;
      }
    }

    .productInfo {
      margin-bottom: 15px;
      border-radius: 3px;
      background-color: var(--color-white);

      .sellerWrap {
        display: flex;
        align-items: center;
        padding: 16px 20px;
        border-bottom: 1px solid #00000017;

        div:nth-child(1) {
          text-align: center;
          width: 8%;
        }

        div:nth-child(2) {
          display: flex;
          width: 43%;
        }
      }

      .tableItemWrap {
        display: flex;
        align-items: center;
        padding: 26px 20px;
        border-bottom: 1px solid #00000017;

        div:nth-child(1) {
          text-align: center;
          width: 8%;
        }

        div:nth-child(2) {
          display: flex;
          width: 43%;

          img {
            width: 80px;
            object-fit: contain;
          }

          .product {
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            .productName {
              width: 100%;
              min-width: 0;
              color: #000000de;
              font-size: 0.875rem;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              display: -webkit-box;
            }

            img {
              width: 180px;
              height: 18px;
            }
          }
        }

        div:nth-child(3) {
          width: 14%;
          text-align: center;
          font-size: 0.875rem;
          color: #000000de;
        }

        .quantity {
          width: 14%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 2px;

          .quantityAdjustment {
            display: flex;
            color: #ccc;
            width: 75%;

            button {
              background: none;
              border-color: #00000017;
              width: 32px;
              height: 32px;
              border-width: 1px;
              cursor: pointer;
            }

            button:first-child {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }

            button:last-child {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }

            .inputWrap {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #00000017;
              height: 32px;
              width: 50px;
              box-sizing: border-box;
              border-right: none;
              border-left: none;
              overflow: hidden;
              input {
                text-align: center;
                color: #000c;
                width: 100%;
                border: none;
                font-size: 1rem;
                transform: none;

                &:focus {
                  outline: none;
                  border: none;
                }
              }
            }
          }

          .remaining {
            display: flex;
            justify-content: center;
            width: 100%;
            color: var(--color-primary);
            font-size: 0.8125rem;
          }
        }

        .deleteWrap {
          display: flex;
          flex-direction: column;
          align-items: center;

          .delete {
            text-wrap: nowrap;
            width: 100%;
            color: #000c;
            cursor: pointer;

            &:hover {
              color: var(--color-primary);
            }
          }

          .similar {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            color: var(--color-primary);

            img {
              width: 10px;
              height: 14px;
            }
          }
        }

        div:nth-child(5) {
          width: 10%;
          text-align: center;
          font-size: 0.875rem;
          color: var(--color-primary);
        }

        div:nth-child(6) {
          width: 11%;
          text-align: center;
          font-size: 0.875rem;
          color: #888;
        }
      }

      .couponWrap {
        display: flex;
        align-items: center;
        padding: 18px 20px;
        border-bottom: 1px solid #00000017;

        div:nth-child(1) {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 8%;
        }

        div:nth-child(2) {
          display: flex;
          width: 43%;
          color: #05a;
          font-size: 0.875rem;
        }
      }

      .shippingWrap {
        display: flex;
        align-items: center;
        padding: 18px 20px;

        div:nth-child(1) {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 8%;

          img {
            width: 21px;
            height: 20px;
          }
        }

        div:nth-child(2) {
          display: flex;
          gap: 8px;
          width: 43%;
          font-size: 0.875rem;
          color: #000c;

          span {
            color: #05a;
          }
        }
      }
    }

    .checkoutWrap {
      display: grid;
      grid-template-columns: 1fr 20.3125rem 11.875rem;
      margin-top: 26px;
      background-color: var(--color-white);
      border-radius: 3px;
      position: sticky;
      bottom: 0;

      &::before {
        content: "";
        background: linear-gradient(#0000, #0000000f);
        width: 100%;
        height: 1.25rem;
        position: absolute;
        top: -1.25rem;
        left: 0;
        opacity: 0;
      }

      .dashedBorder {
        border-bottom: 1px dashed #00000017;
        grid-column: 1 / 4;
      }

      .firstRow {
        grid-column: 2 / 4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;

        .couponAll {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 1rem;
          color: rgba(0, 0, 0, 0.8);
        }

        .chooseCoupon {
          color: #05a;
          font-size: 0.875rem;
          cursor: pointer;
        }
      }

      .secondRowLeft {
        grid-column: 1 / 2;
        display: flex;
        flex-direction: row-reverse;
        padding: 16px 12px 16px 20px;

        .fakeCheckbox {
          width: 17px;
          height: 17px;
          border-radius: 2px;
          border: 1px solid #e7e7e7;
          background: #e7e7e7 !important;
        }
      }

      .secondRowRight {
        grid-column: 2 / 4;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
        padding: 16px 20px;

        .shopeeCoin {
          display: flex;
          gap: 10px;
          opacity: 0.2;
          font-size: 0.875rem;
        }

        .noItemSelected {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 0.875rem;
          color: #929292;

          img {
            margin-bottom: 1px;
          }
        }
      }

      .thirdRow {
        grid-column: 1 / 4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;

        .thirdRowLeft {
          display: flex;
          gap: 26px;
        }

        .thirdRowRight {
          display: flex;
          align-items: center;
          gap: 16px;

          .totalPrice {
            display: flex;
            align-items: center;
            gap: 6px;
            color: #222;
            font-size: 1rem;

            span {
              color: var(--color-primary);
              font-size: 1.5rem;
            }
          }

          .checkout {
            width: 210px;
            height: 40px;
            border-radius: 2px;
            background-color: var(--color-primary);
            border: none;
            color: var(--color-white);
            font-size: 0.875rem;
            cursor: pointer;
          }
        }
      }
    }

    .checkoutWrap.isStuck::before {
      opacity: 1;
    }
  }
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #00000024;
  border-radius: 2px;
  background: var(--color-white);
  cursor: pointer;
  box-shadow: inset 0 2px #00000005;
}

input[type="checkbox"]:checked {
  background: var(--color-primary);
  border-color: var(--color-primary);
}

input[type="checkbox"]:checked::after {
  content: "";
  border-bottom: 2px solid var(--color-white);
  border-left: 2px solid var(--color-white);
  width: 9px;
  height: 5px;
  position: absolute;
  top: 3px;
  left: 3.5px;
  transform: rotate(-45deg);
}
