@use "@/assets/styles/mixins" as *;

.footerCategoryWrap {
  @include respond-1280 {
    @include pageGutter;
  }

  :global(.container) {
    padding-bottom: 85px;
    .footerCategoryTitleWrap {
      font-weight: 700;
      color: rgba(0, 0, 0, 0.54);
      font-size: 0.875rem;
      margin-top: 58px;
      margin-bottom: 15px;
    }

    .footerCategoryColumns {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      .footerCategoryColumn {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-right: 6px;
        .sub {
          .subCategoryTitle {
            font-weight: 700;
            color: rgba(0, 0, 0, 0.54);
            font-size: 0.75rem;
            margin-bottom: 0.1rem;
          }

          .subCategorys {
            display: flex;
            flex-wrap: wrap;
            row-gap: 0px;

            .subCategory {
              color: rgba(0, 0, 0, 0.54);
              font-size: 0.75rem;
              position: relative;
              cursor: pointer;

              &:hover {
                color: var(--color-primary);
              }
            }
            .separator {
              display: inline-block;
              width: 1px;
              height: 0.75rem;
              margin: 3px 4px;
              background: rgba(0, 0, 0, 0.54);
              transform: scaleX(0.5);
            }
          }
        }
      }
    }
  }
}
