.headerWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, #f53d2d, #f63);

  :global(.container) {
    .headerWrapUpper {
      display: flex;
      justify-content: space-between;
      .headerLeft {
        display: flex;
        gap: 10px;

        & > * {
          position: relative;
        }

        & > :not(:first-child)::before {
          content: "";
          height: 0.9rem;
          left: -6px;
          position: absolute;
          top: calc(50% - 6px);
          width: 0px;
          border-left: 1px solid var(--color-divider);
          border-right: 1px solid var(--color-divider);
        }

        :global(.navLink) {
          font-size: 0.8125rem;
          padding: 0.25rem;
          display: flex;
          align-items: center;
          gap: 4px;

          :global(.socialMediaGroup) {
            display: flex;
            gap: 10px;
            :global(.facebook) {
              width: 16px;
              height: 16px;
              background-image: url("@/assets/images/social_media_group.png");
              background-position: 5.376344086% 12.1951219512%;
              background-size: 681.25% 356.25%;
            }
            :global(.instagram) {
              width: 16px;
              height: 16px;
              background-image: url("@/assets/images/social_media_group.png");
              background-position: 38.7096774194% 12.1951219512%;
              background-size: 681.25% 356.25%;
            }
            :global(.line) {
              width: 16px;
              height: 16px;
              background-image: url("@/assets/images/social_media_group.png");
              background-position: 5.376344086% 73.8095238095%;
              background-size: 681.25% 380%;
            }
          }
        }
      }
      .headerRight {
        display: flex;
        gap: 10px;

        & > * {
          position: relative;
        }

        & > :last-child::before {
          content: "";
          height: 0.9rem;
          left: -6px;
          position: absolute;
          top: calc(50% - 6px);
          width: 0px;
          border-left: 1px solid var(--color-divider);
          border-right: 1px solid var(--color-divider);
        }

        :global(.navLink) {
          font-size: 0.8125rem;
          padding: 0.25rem;
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
    }
  }
}
