.headerWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, #f53d2d, #f63);

  :global(.container) {
    .headerWrapUpper {
      display: flex;
      justify-content: space-between;
      padding-top: 4px;
      .headerLeft {
        display: flex;
        gap: 10px;

        & > * {
          position: relative;
        }

        & > :not(:first-child)::before {
          content: "";
          height: 0.9rem;
          left: -6px;
          position: absolute;
          top: calc(50% - 6px);
          width: 0px;
          border-left: 1px solid var(--color-divider);
          border-right: 1px solid var(--color-divider);
        }

        :global(.navLink) {
          font-size: 0.8125rem;
          padding: 0.25rem;
          display: flex;
          align-items: center;
          gap: 4px;

          :global(.socialMediaGroup) {
            display: flex;
            gap: 10px;
            :global(.facebook) {
              width: 16px;
              height: 16px;
              background-image: url("@/assets/images/social_media_group.png");
              background-position: 5.376344086% 12.1951219512%;
              background-size: 681.25% 356.25%;
            }
            :global(.instagram) {
              width: 16px;
              height: 16px;
              background-image: url("@/assets/images/social_media_group.png");
              background-position: 38.7096774194% 12.1951219512%;
              background-size: 681.25% 356.25%;
            }
            :global(.line) {
              width: 16px;
              height: 16px;
              background-image: url("@/assets/images/social_media_group.png");
              background-position: 5.376344086% 73.8095238095%;
              background-size: 681.25% 380%;
            }
          }
        }
      }
      .headerRight {
        display: flex;
        gap: 10px;

        & > * {
          position: relative;
        }

        & > :last-child::before {
          content: "";
          height: 0.9rem;
          left: -6px;
          position: absolute;
          top: calc(50% - 6px);
          width: 0px;
          border-left: 1px solid var(--color-divider);
          border-right: 1px solid var(--color-divider);
        }

        :global(.navLink) {
          font-size: 0.8125rem;
          padding: 0.25rem;
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
    }

    .headerWrapLower {
      display: flex;
      align-items: center;
      padding: 16px 0 4px;
      .headerLogo {
        width: 162px;
        height: 50px;
        padding-right: 2.5rem;
        margin-bottom: 20px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .headerSearch {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 840px;

        .headerSearchInputForm {
          display: flex;
          align-items: center;
          width: 100%;
          height: 2rem;
          border-radius: 2px;
          padding: 4px;
          background-color: var(--color-white);

          .headerSearchInput {
            flex: 1;
            border: none;
            padding-left: 10px;

            &::placeholder {
              font-size: 14px;
              color: #868e96;
              opacity: 1;
            }

            &:focus {
              outline: none;
            }
          }

          .headerSearchButton {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 34px;
            max-width: 190px;
            min-width: 60px;
            padding: 4px 15px;
            background-color: #fb5533;
            border: none;
            border-radius: 2px;

            img {
              height: 1em;
              width: 1em;
            }
          }
        }

        .headerSearchSuggestion {
          display: flex;
          align-items: center;
          gap: 10px;
          a {
            color: #ffffffe6;
            font-size: 12px;
            cursor: pointer;
          }
        }
      }
      .headerCart {
        flex: 1;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        img {
          cursor: pointer;
          height: 26px;
          width: 26px;
        }
      }
    }
  }
}
