@use "./variables";
@use "./mixins" as *;

html {
  font-family: Arial, "Microsoft JhengHei", "PingFang TC", "Hiragino Sans GB", sans-serif;

  @include respond-1280 {
    font-size: 80%;
  }

  @include respond-960 {
    font-size: 62.5%;
  }
}

body {
  margin: 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .navLink {
    text-decoration: none;
    color: var(--color-white);
  }
}
