.popularWrap {
  margin-top: 15px;
  :global(.container) {
    background-color: var(--color-white);

    .popularTitleWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      margin-bottom: 20px;

      .popularTitleWrapLeft {
        color: var(--color-primary);
        font-size: 1rem;
      }

      .popularTitleWrapRight {
        display: flex;
        align-items: center;
        gap: 5px;
        white-space: nowrap;
        font-size: 0.875rem;
        font-weight: 300;
        color: var(--color-primary);
        cursor: pointer;

        svg {
          height: 10px;
          width: 10px;
        }
      }
    }

    .popularLine {
      position: relative;

      .customSwiperButtonPrev,
      .customSwiperButtonNext {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background-color: var(--color-white);
        height: 25px;
        width: 25px;
        opacity: 0;
        transition: transform 0.1s ease;
        border-radius: 9999px;
        box-shadow: 0 1px 12px #0000001f;
        cursor: pointer;

        svg {
          width: 0.625rem;
          height: 0.625rem;
        }
      }

      .visible {
        opacity: 1;
      }

      .scale {
        transform: translateY(-50%) scale(2);
      }

      .customSwiperButtonPrev {
        left: -13px;
      }

      .customSwiperButtonNext {
        right: -13px;
      }

      .carouselSwiper {
        padding-bottom: 30px;

        .popularItemWrap {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0 10px;
          cursor: pointer;

          .popularItemImgWrap {
            position: relative;
            width: 100%;

            .topLeftImgWrap {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;

              .topLeftImg {
                width: 32px;
                height: 40px;
              }
            }

            .popularItemImg {
              width: 100%;
              aspect-ratio: 1 / 1;
              object-fit: contain;
            }

            .bottomWrap {
              position: absolute;
              left: 50%;
              bottom: 0;
              transform: translateX(-50%);
              z-index: 1;
              color: var(--color-white);
              text-align: center;
              background-color: #00000042;
              width: 100%;
              height: 1.5625rem;
              font-size: 0.875rem;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .popularItemName {
            color: #555;
            text-align: left;
            margin-top: 1.25rem;
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}
